meta(property='og:title' content='Spookiebois ShareX Server')
meta(property='og:type' content='website')
meta(property='og:url' content='https://github.com/ConniBug/ass')
meta(property='og:description' content='Spookiebois ShareX Server')
meta(property='og:image' content='http://media.spookiebois.club:8080/4QrDnTIS2i8D')
meta(name='twitter:card' content='summary_large_image')
meta(name='theme-color' content='#ff8509')